@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.navbar ul{
    display: flex;
}
.hero-title{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-title div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-title h1{ 
    font-size: 3rem;
    margin: 0;
}
.hero-title p{ 
    font-size: 1.5rem;
    margin-top: 10px;
    width: 80%;
    text-align: center;
}